:host {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .summary-title, .month-transactions-title {
    font-size: 24px;
    font-family: revert;
    font-weight: bold;
    padding: 10px;
  }

  table {
    width: 70%;
    font-size: 24px;
    font-family: monospace;
    border: 1px solid;
    tr {
      font-size: 24px;
    }
  }

  .month-wise-transaction {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
    align-items: center;
    margin-top: 30px;
  }
}
