<h2>List of Transactions</h2>

<table mat-table [dataSource]="transactionRecords">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>Id.</th>
    <td mat-cell *matCellDef="let element">{{ element.id }}</td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>User</th>
    <td mat-cell *matCellDef="let element">{{ element.username }}</td>
  </ng-container>

  <ng-container matColumnDef="transaction-value">
    <th mat-header-cell *matHeaderCellDef>Transaction Amount</th>
    <td mat-cell *matCellDef="let element">{{ element.transactionValue }}</td>
  </ng-container>

  <ng-container matColumnDef="reward-value">
    <th mat-header-cell *matHeaderCellDef>Rewards Earned</th>
    <td mat-cell *matCellDef="let element">{{ element.rewardsEarned }}</td>
  </ng-container>

  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef>Transaction Date</th>
    <td mat-cell *matCellDef="let element">{{ element.transactionDate }}</td>
  </ng-container>

  <ng-container matColumnDef="quarterly">
    <th mat-header-cell *matHeaderCellDef>Summary</th>
    <td mat-cell *matCellDef="let element">
      <a
        [routerLink]="['/user-quarterly-summary', element.username]"
        routerLinkActive="router-link-active"
        >View Summary</a
      >
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

<mat-paginator #paginator [pageSize]="10" showFirstLastButtons></mat-paginator>


<router-outlet name="nameThree"></router-outlet>